#wrapper {
			width: 1050px;
			height: 400px;
			background-color: #D9E6E3;
			border-radius: 10px;
			padding: 25px;
			margin: auto;
			font-family: Tahoma;
			font-size: 15px;
}

#site-header {
	text-align: center;
	margin-bottom: 15px;
}

#player-background{
	background: #A19A9A;
	width: 320px;
	height: 105px;
}

section {
	display: inline-block;
	vertical-align: top;
}
#video-files{
	padding-left: 40px;
}

div > audio {
	width: 300px;
	padding-top: 39px;
	padding-left: 10px;
}

#video-files{}

audio {
	display: block;
	width: 320px;
	margin-top: 14px;
}

p {
	margin-bottom: 5px;
}
 
h2 {
	font-size: 15px;
}

img {
	width: 207px;
	height: 182px;
}

meter {
	width: 240px;
	height: 25px;
}
