html, body, footer, ul, li, div, a{
    margin: 0;
    padding: 0;
    color: white;
}

body {
	font-family: "Arial", "Lato","Helvetica",sans-serif;
	font-size: 13px;
	line-height: 1.42857143;

}

h4 {
	color: #F8A014;
	text-transform: uppercase;
	margin-bottom: 10px;
}

a{
    text-decoration: none;
}

ul, li {
    list-style-type: none;
    padding-bottom: 5px;
}

footer ul li:hover > a{
    background-color: #FF9C00;
}

footer section > a:hover {
	background-color: #F8A014;
}

footer {
	width: 100%;
	min-width: 500px;
	height: 250px;
	background-color: #234465;
}

section {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	width: 200px;
	margin-left: 15px;
}

footer section:nth-child(1) {
	padding-top: 21px;
	text-align: center;
}

footer section:nth-child(1) a {
	display: block;
    border: 2px solid #F8A014;
    line-height: 100%;
    width: 150px;
    height: 34px;
    margin-bottom: 10px;
    margin-left: 23px;
    padding-top: 17px;
}

footer section:nth-child(1):hover {
	color: white;
}

footer section:nth-child(4) {
	width: 270px;
}

footer section:nth-child(4) ul li{
	display: inline-block;
	margin-right: 5px;
}

footer section:nth-child(4) a{
	width: 28px;
    height: 28px;
    position: relative;
}

iframe {
    background-color: #E9EDF0;
}

footer section:nth-child(4) a img {
    width: 28px;
    height: 28px;
}

footer section:nth-child(4) a {
    display: inline-block;
    margin-top: 10px;
}

footer section:nth-child(4) a:before {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #234465;
    content: "";
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

footer section:nth-child(4) a:hover {
    opacity: 0.5;
}